<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function updateSchedule(e, value){
        console.log(e)
        console.log(e.id)
        var i = e.id.split('_')[1]
        var j = e.id.split('_')[2]
        console.log('filename_' + i + '_' + j)
        var schedule = document.getElementById('filename_' + i + '_' + j).textContent
        var id = document.getElementById('id_' + i).textContent
        $.post('/mqtt/update', {
            schedule: schedule,
            id: id,
            value: value
        }, (data)=>{
            if (data == 'success') location.reload()
        })
    }
    function sendSchedule(e){
        var i = e.id.split('_')[1]
        var schedule = $('#scheduleOptions_' + i).val()
        var id = document.getElementById('id_' + i).textContent
        $.post('/mqtt/sendSchedule', {
                schedule: schedule,
                id: id
            }, (data) => {
                if (data == 'success') location.reload()
            })
    }
    $(document).ready(function($){
        var group = document.getElementById("group")
        var addGroup = '';
        var groupInput;
        var piArray = <%- JSON.stringify(piArray) %>
        <% piGroup.forEach(group => { %>
            addGroup += "<option value='" + "<%= group.group %>" + "'>" + "<%= group.group %>" +"</option>"
        <% }); %>
        $(group).append(addGroup)
        $('body').on('click', '#submit', function() {
            var form = $(this).parent().parent().find('form')
            var inputAction = $("<input>")
                .attr("type", "hidden")
                .attr("name", "action")
                .val($(this)[0].value);
            var inputPiId = $("<input>")
                .attr("type", "hidden")
                .attr("name", "piId")
                .val($(this).parent().parent()[0].id);
            $(form).append(inputPiId);
            $(form).append(inputAction);
            $(form).submit();
        });
        $("#getGroup").click(function(){
            var locationSelect = document.getElementById("location")
            groupInput = document.getElementById("group").value
            var addLocation = ''
            for (let i = locationSelect.options.length - 1; i >= 0; i--) {
                locationSelect.options[i] = null;
            }
            <% piGroup.forEach(group => { %>
                if (groupInput == "<%= group.group %>"){
                    <% for (var location of group.location) {%>
                        addLocation += "<option value='" + "<%= location %>" + "'>" + "<%= location %>" +"</option>"
                    <% } %>
                }
            <% }); %>
            
            $(locationSelect).append(addLocation)
        })
        $("#getLocation").click(async function(){
            var locationInput = document.getElementById("location").value
            var locationTable = document.getElementById("locationTable")

            while(locationTable.rows.length>0){
                locationTable.deleteRow(0)
            }
            data = await $.post('/admin/devices', {
                action: 'Group',
                group: groupInput
            }).promise() 

            var piStateArr = data['piState']
            var schedules = data['schedules']
            var piState = new Map()
            piStateArr.forEach((pi)=>{
                piState.set(pi[0], {
                    online: pi[1]['online'],
                    schedules: pi[1]['schedules']
                })
            })
            var addPi = '';
            piArray.forEach(pi => {
                if (locationInput == pi.location) {
                    addPi += "<tr class='idRows'>"
                    addPi += "<td>"+pi.id+"</td>"
                    addPi += "<td>"+pi.name+"</td>"
                    addPi += "<td>"+pi.group+"</td>"
                    addPi += "<td>"+pi.location+"</td>"
                    if (piState.get(pi.id).online){
                        addPi += "<td>online</td>"
                    } else {
                        addPi += "<td>offline</td>"
                    }
                    addPi += "<td>"
                    addPi += "<table border='0'>"
                    for (var i = 0; i < piState.get(pi.id).schedules.length; i++) {
                        addPi += "<tr class='schedule'>"
                        addPi += "<td>"+piState.get(pi.id).schedules[i]+"</td>"
                        addPi += "<td>"
                        addPi += "<input type='button' class='runButton' onclick='updateSchedule(this, " + '"run"'+ ")' value='Run'>"
                        addPi += "<input type='button' class='stopButton' onclick='updateSchedule(this, " + '"stop"' + ")' value='Stop'>"
                        addPi += "<input type='button' class='delButton' onclick='updateSchedule(this, " + '"delete"' + ")' value='Delete'>"
                        addPi += "</td>"
                        addPi += "</tr>"
                    }
                    addPi += "</table>"
                    addPi += "</td>"
                    addPi += "<td>"
                    if (piState.get(pi.id).online == true) {
                        addPi += "<form class='scheduleForm'>"
                        addPi += "<select>"
                        addPi += "<option value='' disabled selected>Select Schedule</option>"
                        for (var i = 0; i < schedules.length; i++) {
                            addPi += "<option class='scheduleChoices' value=''>"+schedules[i]+"</option>"
                        }
                        addPi += "</select>"
                        addPi += "<input type='button' class='sendButton' onclick='sendSchedule(this)' value='Send'>"
                        addPi += "</form>"
                        addPi += "<span id='scheduleResult'></span>"
                        addPi += "</td>"
                        addPi += "</tr>"
                    }
                }
            })
            $(locationTable).append(addPi)
            var idRows = document.getElementsByClassName('idRows')
            var count = 0
            piArray.forEach(pi => {
                if (locationInput == pi.location) {
                    var i = pi.id
                    var td = idRows[count].getElementsByTagName('td')
                    td[0].setAttribute('id', 'id_' + i)
                    var scheduleRows = idRows[count].getElementsByClassName('schedule')
                    var delButtons = idRows[count].getElementsByClassName('delButton')
                    var runButtons = idRows[count].getElementsByClassName('runButton')
                    var stopButtons = idRows[count].getElementsByClassName('stopButton')
                    
                    idRows[count].getElementsByTagName('select')[0].setAttribute('id', 'scheduleOptions_' + i)
                    idRows[count].getElementsByClassName('sendButton')[0].setAttribute('id', 'sendButton_' + i)

                    var choices = idRows[count].getElementsByClassName('scheduleChoices')
                    for (var j = 0; j < choices.length; j++){
                        choices[j].setAttribute('value', choices[j].textContent)
                    }
                    for (var j = 0; j < scheduleRows.length; j++){
                        var td = scheduleRows[j].getElementsByTagName('td')
                        td[0].setAttribute('id', 'filename_' + i + '_' + j)
                        delButtons[j].setAttribute('id', 'button_' + i + '_' + j)
                        runButtons[j].setAttribute('id', 'runButton_' + i + '_' + j)
                        stopButtons[j].setAttribute('id', 'stopButton_' + i + '_' + j)
                    }
                    count++
                }
            })
        });
    });
</script>
</head>
<body>
    <center>
    <h1>Admin View</h1>
    <hr>

    <label for="group">Group Name: </label>
    <select name="Group" id="group"></select>
    <input type = "button" value = "Get Group" id="getGroup"><br><br>

    <label for="location">Location Name: </label>
    <select name="Location" id="location"></select>
    <input type = "button" value = "Get Location" id="getLocation"><br><br>

    <table border ="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Location</th>
                <th>Status</th>
                <th>Schedules</th>
                <th>Upload Schedule</th>
            </tr>
        <thead>
        <tbody>
        </tbody>
        <tfoot id = "locationTable"></tfoot>
    </table>
    <hr>
    </center>
</body>