<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var urls = []
    var filenames = []
    function showFile(i){
        var image = document.getElementById('image')
        var vidSrc = document.getElementById('vidSrc')
        var video = document.getElementById('video')
        var videoArea = document.getElementById('videoArea')
        var imageArea = document.getElementById('imageArea')
        video.pause()
        image.setAttribute('src', '')
        vidSrc.setAttribute('src', '')
        $('.title').empty()
        $('.title').append('<h4>' + filenames[i] + '</h4>')
        if (filenames[i].match(/.*\.(gif|jpe?g|bmp|png)$/igm) != null){
            imageArea.style.display = 'block'
            videoArea.style.display = 'none'
            image.onload = function(){
                image.setAttribute('width', 250)
                image.setAttribute('height', image.height / image.width * 250)
            }
            image.setAttribute('src', urls[i])
        }else{
            videoArea.style.display = 'block'
            imageArea.style.display = 'none'
            vidSrc.setAttribute('src', urls[i])
            vidSrc.setAttribute('type', "video/" + filenames[i].split('.')[1])
            video.load()
            video.play()
            $('#video').on('loadedmetadata', function() {
                video.setAttribute('width', 250)
                video.setAttribute('height', this.videoHeight / this.videoWidth * 250)
            });
        }
    }
    function delFile(i){
        console.log(filenames[parseInt(i)])
        console.log(filenames)
        $.post('/files/delete', {
            filename: filenames[i],
        }, (data)=>{
            location.reload()
        })
    }
    $(document).ready(()=>{
        <% if (role != 'superuser') { %>
            urls = '<%- url %>'.split(',')
            filenames = '<%- filenames %>'.split(',')
            var mediaFiles = document.getElementsByClassName('mediaFiles')
            var delButtons = document.getElementsByClassName('delButtons')
            for (var i = 0; i < mediaFiles.length; i++){
                mediaFiles[i].setAttribute('onclick', 'showFile(' + i +')')
                delButtons[i].setAttribute('value', mediaFiles[i].textContent)
            }
        <% } else { %>
            var groupInput;
            var addGroup = '';
            <% piGroup.forEach(group => { %>
                addGroup += "<option value='" + "<%= group.group %>" + "'>" + "<%= group.group %>" +"</option>"
            <% }); %>
            $(document.getElementById("group")).append(addGroup)

            $("#getGroup").click(function(){
                groupInput = document.getElementById("group").value
                $.post('/media', {
                    group: groupInput
                }, function(data){
                    filenames = data['filenames']
                    urls = data['url']

                    mediaBody = $('#mediaBody')
                    mediaBody.empty()

                    addMedia = ""
                    for (var i = 0; i < filenames.length; i++) {
                        addMedia += "<tr>"
                        addMedia += "<td>"
                        addMedia += "<p class='mediaFiles'>"+filenames[i]+"</p>"
                        addMedia += "</td>"
                        addMedia += "<td>"
                        addMedia += "<input type='checkbox' class='delButtons'>"
                        addMedia += "</td>"
                        addMedia += "</tr>"
                    }
                    mediaBody.append(addMedia)

                    var mediaFiles = document.getElementsByClassName('mediaFiles')
                    var delButtons = document.getElementsByClassName('delButtons')
                    for (var i = 0; i < mediaFiles.length; i++){
                        mediaFiles[i].setAttribute('onclick', 'showFile(' + i +')')
                        delButtons[i].setAttribute('value', mediaFiles[i].textContent)
                    }
                })
            })
        <% } %>
        $('#deleteMedia').submit((event)=>{
            event.preventDefault()
            var mediaList = []
            $("input:checkbox[class=delButtons]:checked").each(function(){
                mediaList.push($(this).val());
            })
            if (document.getElementById('group') != null) {
                $.post('/files/deleteFiles', {
                    delMedia: mediaList,
                    group: groupInput
                }, (data)=>{
                    location.reload()
                })
            } else {
                $.post('/files/deleteFiles', {
                    delMedia: mediaList,
                }, (data)=>{
                    location.reload()
                })
            }
        })
    })  
</script>
 
<html>
<body>
<h1>Media</h1>
<hr>
<form id='deleteMedia'>
    <% if (role == 'superuser') { %>
        <label for="group">Group Name: </label>
        <select name="Group" id="group"></select>
        <input type = "button" value = "Get Group" id="getGroup"><br><br>
    <% } %>
    <table border='1'>
        <thead>
            <th>
                Click to preview media:
            </th>
            <th>
                Delete
            </th>
        </thead>
        <tbody id='mediaBody'>
            <% if (role != 'superuser') { %>
                <% for (var i = 0; i < filenames.length; i++) { %>
                    <tr>
                        <td>
                            <p class='mediaFiles'><%= filenames[i] %></p>
                        </td>
                        <td>
                            <input type='checkbox' class='delButtons'>
                        </td>
                    </tr>
                <% }; %>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <input type = "submit" value = "Delete"/>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
<div id ='videoArea' style='display:none'>
    <h3>Video: </h3>
    <video id='video' muted>
        <source id='vidSrc'>
    </video>
    <h4 class='title'></h4>
</div>

<div id ='imageArea' style='display:none'>
    <h3>Image: </h3>
    <img id='image'>
    <h4 class='title'></h4>
</div>

</body>
</html>
